.theme_name_header{
	display: flex;
	flex-direction: row;
	font-size: 20px;
	padding: 10px; 
	background: blue;
	opacity: .70;
	color: white;
}
.serial{
	width: 5%;
	padding-left: 10px;

}
.content{
	width: 95%;
	text-align: center;
}
.theme_name{
	display: flex;
	flex-direction: row;
	font-size: 20px;
	padding: 10px;
	margin: 1px 0px;
	border: 1px solid #fff;
	background-color: #f3f3f3;
	box-sizing: border-box;
}
.number{
	width: 5%;
	padding-left: 10px;
}
.name{
	width: 95%;
	text-align: center;
	cursor: pointer;
}